attrs==25.3.0
Bottleneck @ file:///croot/bottleneck_1731058641041/work
branca==0.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.3.1
cycler==0.12.1
fiona==1.10.1
folium==0.12.1.post1
fonttools==4.57.0
geographiclib @ file:///croot/geographiclib_1683807314487/work
geojson==2.5.0
geopandas==0.10.2
geopy @ file:///croot/geopy_1718112158488/work
h3==3.7.7
idna==3.10
igraph==0.9.11
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath==1.3.0
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
packaging==24.2
pandas==1.5.3
patsy==1.0.1
pillow==11.1.0
platformdirs==4.3.7
pooch==1.8.2
powerlaw==1.5
py4j @ file:///croot/py4j_1690918206326/work
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
pyparsing==3.2.3
pyproj==3.7.1
pyspark @ file:///croot/pyspark_1740491456748/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-igraph==0.9.11
pytz @ file:///croot/pytz_1713974312559/work
requests==2.32.3
scikit-learn==1.6.1
scikit-mobility==1.3.1
scipy==1.15.2
Shapely==1.8.5
six @ file:///tmp/build/80754af9/six_1644875935023/work
statsmodels==0.13.5
texttable==1.7.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3==2.3.0
python-verson==10
